:root {
	--content_width: 1366px;
	--content_color: #212121;	
	--content_koef: 1;
	--menu_opening: 70%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	/*background-color: #7CB9E8;*/
}

h2 {	
	color: var(--content_color);
	font-size: 62px;	
}

h3 {
	color: var(--content_color);
	font-size: 36px;
	font-weight: 700;
}

a {
	text-decoration: none;
}

.padding_site {
	padding-left: calc(98px*var(--content_koef));	/*!! Заменить на переменную*/
	padding-right: calc(98px*var(--content_koef));
}

.text_bth {
	color:var(--content_color);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	opacity: 1;
}

.content {
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 300;
}

.container {
	max-width: var(--content_width);	/* !! Заменить на переменную*/
	margin: 0 auto;
	/*margin: auto;*/
}

.slider {
	height: calc(800px*var(--content_koef));
	background: url(../img/slider-img001.jpg) center / cover;
	background-color: #000000;
	display: flex;
	justify-content: space-between;
	flex-direction: column;	
	transition: background 1s ease;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 65px;	
	padding-bottom: 7px;	
}

.header_fix {
	height: 55px;
	width: 100%;	
	background-color: #ffffff;
	padding-top: 0;	
	position: fixed;
	top: 0;
	left: 0;
	justify-content: space-around;		
	z-index: 100;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	transition: .5s ease-out;
}

#switch {
	position: absolute;
	left: -999999px;
	visibility: hidden;
}

#switch:checked ~ nav {
	left: var(--menu_opening);
}

.menu_mobile {
	width: 24px;
	color: #1F1534;
	opacity: 0.5;
	display: none;
}

.menu_close {
	position: absolute;
	top: 5px;
	right: calc(10px + var(--menu_opening));
}

.menu_mobile:hover {
	opacity: 0.8;
}

.menu_mobile:active {
	opacity: 0.5;	
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu_list {
	list-style-type: none;
}

.menu_link {
	color: var(--content_color);
	font-size: 14px;
	font-weight: 300;
	opacity: 0.5;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	padding: 10px 13px;
}


.active {	
	font-weight: 700;
	opacity: 1;	
	padding: 10px 13px 9px 13px;
	border-bottom: 3px solid var(--content_color);
}

.menu_link:hover {
	opacity: 1;
	border-bottom: 2px solid #7c7c7c;
}

.menu_link:active {
	opacity: 0.5;
	border-bottom: 2px solid #b9b9b9;
}

.menu_link_search {
	color: var(--content_color);
	font-size: 14px;
	font-weight: 300;
	opacity: 1;
	padding: 10px 13px;
}

.menu_link_search:active {
	opacity: 0.5;
}

.slider_text {
	margin-top: 140px;
}

.slider_trending {
	color: #43a047;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.slider_title {
	color: var(--content_color);
	font-size: 62px;
	font-weight: 100;
	text-transform: uppercase;
}

.slider_content {
	width: 458px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 24px;
}

.button {
	color: var(--content_color);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	opacity: 1;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	border-radius: 23px;
	background-color: #ffffff;
	width: 212px;
	line-height: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button:focus {
	outline: none;
}

.arrow {
	visibility: hidden;
	margin-left: 12px;
}

.button:hover .arrow {
	visibility: visible;
}

.button:hover {
	box-shadow: none;
}

.button:active {
	opacity: 0.5;
}

.slider_pagination {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.circle {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: #212121;
	opacity: 0.2;
	border-radius: 50%;
	margin: 5px;
}

.c_active {
	width: 40px;
	height: 40px;
	opacity: 1;
	margin: 0;
}

.circle:hover {
	opacity: 1;
}

.featured{
	margin-top: 120px;
}

.feat_tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.feat_tab_link {
	color: var(--content_color);
	opacity: 0.7;
	font-size: 36px;
	font-weight: 700;
	padding: 0 16px 18px 8px;
	border-bottom: 1px solid transparent;
}

.feat_active {
	opacity: 1;
	padding-bottom: 16px;/*0 16px 16px 8px;*/
	border-bottom: 3px solid var(--content_color);	
}

.feat_tab_link:hover {
	opacity: 1;
	border-bottom: 1px solid #8c8c8c;
}

.feat_tab_link:active {
	opacity: 0.5;
	/*border-bottom: 1px solid #b9b9b9;*/
}

.feat_bth_link {
	/*padding-top: 20px;
	float: right;
	margin-left: 650px;	*/
}

.feat_bth_link:hover .arrow {
	visibility: visible;
}

.feat_tab_showcase {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.feat_link {
	width: calc(270px*var(--content_koef));
	height: calc(270px*var(--content_koef));	
	outline: none;
	background-size: 100%;	
	/*center / cover;*/
}

.product_1 {
	background: url("../img/feature_product-1.jpg") center / cover;	
}

.product_2 {
	background: url("../img/feature_product-2.jpg") center / cover;	
}

.product_3 {
	background: url("../img/feature_product-3.jpg") center / cover;	
}

.product_4 {
	background: url("../img/feature_product-4.jpg") center / cover;
}

.feat_link:hover {
	background:  rgba(252, 252, 252, 0.7);
	outline: 2px solid #a1a1Aa;
}

.feat_tab_text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	visibility: hidden;
}

.feat_link:hover  .feat_tab_text {
	visibility: visible;	
}

.button_circle {	
	border-radius: 24px;
	background-color: #ffffff;
	width: 20px;
	padding: 12px;
	text-align: center;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	margin-top: 64px;
}

.button_circle:hover {
	opacity: 0.5;
}

.button_circle:active {
	box-shadow: none;
}

.button_circle:focus {
	outline: none;
}

.feat_tab_title {
	color: var(--content_color);
	font-size: 22px;
	font-weight: 700;
	margin-top: 16px;
}

.feat_tab_content {
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	width: 220px;
	margin-top: 16px;
	line-height: 24px;
	text-align: center;
}

.promo {
	margin-top: 120px;
	display: flex;
	align-items: center;
}

.promo_content {
	height: calc(683px*var(--content_koef));	/*переделать под переменные*/
}

.promo_product_1 {
	width: 50%;	/*переделать под переменные*/
	background: url(../img/promo-1.jpg) center / cover;
}

.promo_product_2 {
	width: 50%;	/*переделать под переменные*/
	background: url(../img/promo-2.jpg) center / cover;
}

.promo_text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;	
	margin-top: 225px;
	margin-left: 55px;
}

.promo_exclusive {
	color: #1e88e5;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.promo_title {
	margin-top: 20px;
}

.promo_details {
	width: 374px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.trending {
	margin-top: 120px;
}

.trending_tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trending_bth:hover .arrow {
	visibility: visible;
}

.trending_product {
	margin-top: 30px;
}

.trending_link {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.trending_img {
	width: calc(370px*var(--content_koef));
	height: 100%;
	margin-top: 30px;
}

.heat {
	margin-top: 120px;
	height: calc(800px*var(--content_koef));
	background-image: url("../img/heat-img001.jpg");
	background-size: cover;
	background-position: center;	
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	transition: background 1s ease;
	/*margin-top: 50px;*/
}

.heat_text {
	margin-top: 285px;
}

.heat_hot {
	color: #e53935;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.heat_title {
	color: var(--content_color);
	font-size: 62px;
	font-weight: 100;
	text-transform: uppercase;
}

.heat_content {
	width: 458px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 24px;
}

.exclusive {
	margin-top: 120px;
	display: flex;
	justify-content: space-between;
}

.ex_hover {
	background: url("../img/exclusive-img1.jpg") center / cover;
	width: calc(570px*var(--content_koef));
	height: calc(570px*var(--content_koef));
}

.ex_text {
	margin-left: 30px;
	margin-top: 185px;
}

.ex_exclusive {
	color: #1e88e5;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.ex_content {
	width: 332px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.ex_product {
	width: calc(270px*var(--content_koef));
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.ex_img {
	height: calc(270px*var(--content_koef));
}

.mobile {
	margin-top: 120px;
	height: calc(516px*var(--content_koef));
	background: url("../img/back-img.jpg") center / cover;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.mobile_app {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.mobile_title {
	width: 500px;
	color: var(--content_color);
	font-size: 62px;
	font-weight: 100;
	text-transform: uppercase;

}

.mobile_content {
	color: #6c6c6c;
	font-size: 22px;
	font-weight: 300;
	margin-top: 25px;	
}

.mobile_market {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 280px;
}

.app, .google {
	width: 135px;
	height: 40px;
	opacity: 1;
	box-shadow: 0 2px 5px 1px transparent;
}

.app:hover, .google:hover {
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.app:active, .google:active {
	opacity: 0.5;
	box-shadow: none;
}

.footer {
	height: 384px;
	max-width: var(--content_width);
	background-color: #f7f7f7;
	margin: auto;
}

.footer_title {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-bottom: 22px;
}

.footer_title:focus {
	outline: none;
}

.footer_content {
	padding-top: 120px;	
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 30px;
}

.footer_contacts {
	width: 230px;
}

.footer_contacts_link {
	color: var(--content_color);
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	margin-bottom: 25px;
}

.footer_useful {
	width: 420px;
	margin-bottom: 5px; 
}

.useful_menu {
	column-count: 2;
}

.useful_menu_list {
	list-style-type: none;
}

.useful_menu_link {
	color: var(--content_color);
	font-size: 14px;
	font-weight: 700;
	opacity: 1;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	line-height: 25px;
	box-shadow: 0 2px 5px 1px transparent;
	padding: 4px;
}

.useful_menu_link:hover {
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.useful_menu_link:active {
	opacity: 0.5;
	box-shadow: 0 2px 5px 1px transparent;
}

.footer_lets {
	width: 375px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.footer_lets_link {
	color: var(--content_color);
	font-size: 14px;
	font-weight: 300;
}

fieldset {
	width: 100%;
	height: 48px;
	margin-top: 25px;
	border: 0 none;
	background-color: #fff;
}

input[type="email"] {
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	height: 100%;
	float: left;
	border: 1px solid #d9dee1;
	border-right-color: #fff;
	width: 306px;
	text-align: left;
	padding-left: 10px;
}

input[type="submit"] {
	width: 50px;
	height: 50px;
	float: right;
	background: url(../img/plane_dark.svg) no-repeat 50% 50%;
	background-size: 22px 22px;
	border: 1px solid #B2B7B9;
	background-color: #fff;
	border-left-color: #fff;
	opacity: 0.5;
	margin-left: -1px;
}

input[type="submit"]:hover {
	border-left-color: #B2B7B9;
	opacity: 1;
}

input[type="submit"]:active {
	opacity: 0.5;
	background-color: #f7f7f7;
}

input[type="submit"]:focus {
	outline: none;
}

.footer_back {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_text {
	color: #6c6c6c;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}

.social {
	
}

.social_link {
	opacity: 0.6;	
	width: 27px;
	height: 27px;
	background-color: #f7f7f7;
	display: inline-block;
	transition: background 0.5s ease;
}

.social_link_img_1 {
	background: url("../img/facebook.svg") center / cover;	
}

.social_link_img_2 {
	background: url("../img/twitter.svg") center / cover;
}

.social_link_img_3 {
	background: url("../img/google.svg") center / cover;
}

.social_link_img_4 {
	background: url("../img/pinterest.svg") center / cover;
}

.social_link:active {
	opacity: 0.5;
}

.social_link_img_1:hover {
	background-image: url("../img/facebook_clr.svg");
}

.social_link_img_2:hover {
	background-image: url("../img/twitter_clr.svg"); 
}

.social_link_img_3:hover {
	background-image: url("../img/google_clr.svg");
}

.social_link_img_4:hover {
	background-image: url("../img/pinterest_clr.svg");
}

/****************************css products***********************************/

.hero {
	height: 360px;
	background-color: #f5f5f5;
}

.hero_text {
	margin-top: 170px;
}

.hero_title {
	color: var(--content_color);
	font-size: 62px;
	font-weight: 400;	
}

.tab {
	margin-top: 70px;
}

.tab_menu {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 18px;
}

.tab_menu_list {
	list-style-type: none;	
}

.tab_menu_list:focus {
	outline: none;
}

.tab_menu_link {
	color: #212121;
	opacity: 0.7;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	padding: 10px 16px 20px 16px;	
}

.tab_active {
	opacity: 1;
	padding-bottom: 17px;	
	border-bottom: 3px solid var(--content_color);
}

.tab_menu_link:hover {
	opacity: 1;
	padding-bottom: 19px;	
	border-bottom: 1px solid #8c8c8c;
}

.tab_menu_link:active {
	opacity: 0.5;
	/*border-bottom: 1px solid #b9b9b9;*/
}


.set {
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.set_product {
	margin-top: 16px;
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.set_img {
	/*width: 370px;
	height: 370px;*/
	width: calc(370px*var(--content_koef));
	height: calc(370px*var(--content_koef));
	box-shadow: 0 2px 5px 1px transparent;
}

.set_img:hover {
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.set_img:active {
	box-shadow: none;
	opacity: 0.5;
}

.load {	
	margin-top: 50px;
	width: 100%;	
	display: flex;
	justify-content: center;
}

.load_box {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.load_box:hover {	
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.load_box:active {
	box-shadow: none;
	background-color: #d8f4fe;
	opacity: 0.5;
}

/*************************** css details **********************************************************/

.deails {
	height: 120px;
	background-color: #ffffff;
}

.detail_tab {
	height: 70px;
	background-color: #f4f4f4;
}

.detail_menu {
	padding-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.detail_menu_list {
	list-style-type: none;
}

.detail_menu_link {
	color: var(--content_color);
	opacity: 0.7;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	text-decoration: none;
	padding: 10px 16px 12px 16px;
}

.detail_active {
	opacity: 1;
	padding-bottom: 9px;	
	border-bottom: 3px solid var(--content_color);
}

.detail_menu_link:hover {
	opacity: 1;
	padding-bottom: 11px;
	border-bottom: 1px solid #8c8c8c;
}

.detail_menu_link:active {
	opacity: 0.5;
}

.detail_active:focus {
	outline: none;
}

.detail_slider {
	margin-top: 72px;
	display: flex;
	justify-content: space-between;	 
}

.detail_product_slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.detail-img {
	width: calc(570px*var(--content_koef));
	height: calc(570px*var(--content_koef));
}

.detail_control {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control_link{

}

.control-img {
	width: 70px;
	height: 70px;
	margin-left: 12px;
	margin-right: 12px;
	box-shadow: 0 2px 5px 1px transparent;
}

.control-img:hover {
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);	
}

.control-img:active {
	box-shadow: none;	
	opacity: 0.5;
}

.detail_text {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.detail_offer {
	text-align: center;
	width: 100%;
}

.detail_title {
	/*margin-top: 30px;*/
}

.detail_hot {
	color: #e53935;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.detail_price {
	color: var(--content_color);
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.detail_price_ue {
	color: var(--content_color);
	font-size: 72px;
	text-transform: uppercase;
}

.detail_content {
	color: var(--content_color);
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.4px;
	width: 500px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.button_detail {
	color: #ffffff;
	background-color: #f44336;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	border-radius: 35px;
	line-height: 70px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 4.4px;
	width: 510px;
	margin-top: 15px;
	margin-bottom: 35px;
	/*vertical-align: middle;*/
}

.button_detail:focus {
	outline: none;
}

.arrow_detail {
	margin-left: 28px;
	visibility: hidden;
	/*vertical-align: middle;*/
}

.order_us {
	/*vertical-align: middle;*/
	height: 70px;
}

.button_detail:hover .arrow_detall {
	visibility: visible;
}

.button_detail:hover {
	box-shadow: none;
}

.button_detail:active {
	color: #8c8c8c;
}

.related {
	margin-top: 120px;
	margin-bottom: 120px;
}

/******* Contacts *******************************************/

.location {
	margin-top: 70px;
	margin-bottom: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.california {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(370px*var(--content_koef));
	height: calc(370px*var(--content_koef));
	font-size: 14px;
	color: var(--content_color);
	box-shadow: 0 2px 5px 1px transparent;
}

.california:hover {
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.california:active {
	box-shadow: none;
	opacity: 0.5;	
}

.california:focus {
	outline: none;
}

.location-img {
	width: 38px;	
}

.location_name {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;	
	margin-top: 30px;
}

.location_title {
	opacity: 0.5;
	font-weight: 700;	
	margin-top: 20px;	
}

.location_content {
	font-weight: 700;	
}

.location_street {
	font-weight: 300;
}

/********** адаптация ************************************/
@media screen and (max-width: 1024px) {

	:root {
		--content_koef: 0.75;
	}

	.container {
		max-width: 100%;
	}

	.menu {
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		margin-top: 32px;
	}

	.menu_list {
		margin: 20px 30px;
	}

	.menu_link {
		font-size: 18px;
	}

	nav {
		position: fixed;
		left: 110%;
		top: 0;
		width: 100%;
		height: 100vh;
		background: #E5E9F6;
		box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
		transition: left .5s;
		z-index: 1;
	}

	.menu_mobile {
		display: block;
	}

	.button_circle {	
		margin-top: 32px;
	}

	.promo_text, .ex_text  {
		margin-top: 100px;
	}

	.heat_text {
		margin-top: 140px;
	}

	.content {
		font-size: 12px;
	}

	.footer_content {
		padding-top: 60px;
	}

	.footer {
		height: auto;
	}

	.footer_contacts, .footer_useful, .footer_lets {
		width: calc((100%/3) - 1%);
	}

	.footer_useful {
		text-align: center;
	}

	.useful_menu {
		column-count: 1;				
	}

	.useful_menu_list:first-child {
		padding-top: 0;
	}

	.useful_menu_list {
		padding: 10px;
	}

	.useful_menu_link {
		padding: 10px;
	}

	.user_email {
		width: auto;
	}

	input[type="email"] {
		width: auto;
	}

	.footer_back {
		flex-direction: column;
		justify-content: space-around;
	}

	.footer_text {
		order: 2;
		padding: 10px;
	}

	.social {
		order: 1;
		padding: 10px;
	}

	/******* products **************************************/
	.promo_details.content {
		font-size: 14px;
	}

	/******* details ******************************/
	.detail_content, .button_detail {
		width: 100%;
	}

	.detail_product_slider {
		width: 50%;
		align-items: center;
	}

	.detail_text {
		width: 48%
	}
}

@media screen and (max-width: 768px) {
	:root {
		--content_koef: 0.7;
	}

	.padding_site {
		padding-left: 30px;	
		padding-right: 30px;
	}

	.slider_text {
    	margin-top: 70px;
	}

	.content {
    	font-size: 16px;
    }

	.feat_tab_showcase {
	    margin-top: 20px;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: center;
	}

	.feat_link, .trending_img, 	.ex_hover, .ex_img {
		--content_koef: 1;
	}

	.feat_link {
		margin: 20px;
	}

	.promo_text {
		margin-left: 20px;
	}

	.trending_link {
		flex-wrap: wrap;
	}

	.exclusive {
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 105px;
	}
	
	.ex_hover, .ex_img {
		margin: 15px;
	}

	.ex_product {
		width: auto;
		flex-direction: row;
	}

	.footer_contacts .footer_title {
		margin-bottom: 42px;
	}

	input[type="email"] {
		width: 72%;
	}

	.set {
		--content_koef: 1;
	}

	.set_product {
		margin-top: 0;
		margin-bottom: 0;
		flex-direction: column;		
	}

	.set_img {		
		margin: 15px;
	}
	
	.promo_details {
		width: 90%;
	}

	/******* details *********************************/
	.detail_slider {
		flex-direction: column;
		align-items: center;
	}

	.detail_product_slider, .detail_text, .detail_about {
		width: 100%;		
	}

	.detail_text {
		flex-direction: row-reverse;
	}

	.detail_offer {
		width: 80%;		
	}

	.related {
		margin-top: 60px;
	} 

	/******* contacts ***************************/
	.location {
		flex-direction: column;
	}

	.california {
		--content_koef: 1;
	}
}

@media screen and (max-width: 425px) {
	:root {
		--content_koef: 0.72;
		--menu_opening: 40%;
	}

	.slider_text {
		margin-top: 50px;
	}

	.slider_content, .button {
		width: auto;
	}

	/*#switch:checked ~ .circle {
		visibility: hidden;
	}*/

	.featured, .promo, .trending, .heat, .exclusive, .mobile {
		margin-top: 60px;
	} 

	.feat_tab, .trending_tab {
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 0;
	}

	.trending_product {
		margin-top: 0;
	}

	.trending_img {
		--content_koef: 0.8;
	}

	.text_bth {
		text-align: center;
		width: 100%;
		margin-top: 40px;
	}

	.promo {
		flex-direction: column;
	}

	.promo_product_1, .promo_product_2, .heat_content {
		width: 100%;	
	}

	.promo_text, .ex_text {
		margin-left: 0;
		padding-left: 30px;
		padding-right: 30px;
	}

	.exclusive {
		padding-right: 0;
		padding-left: 0;
	}

	.ex_product {
		flex-direction: column;
	}

	.ex_hover {
		margin: 15px 0 0 0;
		width: 100%;
	}

	.mobile_title {
		font-size: 36px;
		width: 100%;
	}

	.mobile_content {
		font-size: 16px;
	}

	.footer_content {
		flex-direction: column;
		align-items: center;		
	}

	.footer_contacts, .footer_useful, .footer_lets {
		width: 100%;
		margin-bottom: 40px;
	}

	.footer_contacts, .footer_lets {
		margin-top: 10px;
	}

	.footer_contacts {
		order: 3;
		text-align: center;	
		margin-bottom: 0;	
		} 

	.footer_contacts .footer_title {
		margin-bottom: 22px;
	}

	.footer_useful {
		order: 1;
		} 

	.footer_lets {
		order: 2;
		align-items: center;
	}

	.user_email {
		width: 100%;
	}

	input[type="email"] {
		width: 83%;
	}

	/************ products *******************/
	.hero {
		height: 240px;
	}

	.hero_text {
		margin-top: 80px;
	}

	.hero_title {
		font-size: 32px;
	}

	.tab {
		margin-top: 0;
	}

	.tab_menu {
		flex-wrap: wrap;
		justify-content: space-around;
		padding-bottom: 0;
	}

	.tab_menu_link {
		padding-bottom: 10px;
	}

	.tab_menu_list {
		margin-top: 25px;
	}

	.tab_active {
		padding-bottom: 7px;
	}

	.tab_menu_link:hover {
		padding-bottom: 9px;
	}

	.load {
		margin-top: 10px;
	}

	/**** details *********************/
	.detail_tab {
		height: 120px;
	}

	.detail_menu {
		flex-wrap: wrap;		
	}

	.detail_menu_list {
		margin-bottom: 25px;
	}

	.detail_text {
		flex-direction: column;
	}

	.detail_offer {
		width: 100%;
	}

}

@media screen and (max-width: 375px) {
	:root {
		--content_koef: 0.72;
		--menu_opening: 20%;		
	}

	h3 {
		font-size: 32px;
	}	

	.promo_details, .heat_content {
		width: 100%;
	}

	input[type="email"] {
		width: 80%;
	}

	/***** products ******************/
	.hero_text {
		margin-top: 50px;
	}

	.set_img, .california {
		--content_koef: 0.75;
	}

	/****** details ********************/
	.detail_tab {
		height: 165px;
	}

	/******** contacts ********************/
	.location {
		margin-top: 40px;
		margin-bottom: 60px;
	}

	.california {
		padding: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

}

@media screen and (max-width: 320px) {
	:root {
		--content_koef: 0.72;		
	}

	.padding_site {
		padding-left: 15px;
		padding-right: 15px;
	}

	.feat_tab_link {
		font-size: 32px;
	}

	.trending_img {
		--content_koef: 0.72;
	}

	.exclusive {
		padding-right: 0;
		padding-left: 0;
	}

	.ex_content {
		width: 100%;
	}

	input[type="email"] {
		width: 78%;
	}

	/******** details ***************/
	.detail_img {
		--content_koef: 0.6;
	}

	/****** contacts ****************/
	.california {
		--content_koef: 0.65;
		height: 370px;
	}

	.location_street {
		text-align: center;
	}
}


